$default-font-color: rgb(255, 255, 255);
$background-color: #fff;
$forecast-background-color: rgba(0, 0, 0, 0.5);
$forecast-color: #fff;
$header-background-color: rgba(0, 0, 0, 0.8);
$header-color: #fff;
$container-bgcolor: #0f6737;
$container-bordercolor: #000;
$textbox-bordercolor: lightgrey;
$button-textcolor: #fff;
$search-button-color: #4caf50;
$save-button-color: #4caf50;
$error-font-color: #ececec;

@mixin mq($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

@mixin mqMax($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  color: $default-font-color;
  width: 100%;
  min-height: 100%;
  @include mq(768px) {
    font-size: 22px;
  }
}

body {
  padding: 20px;

  @include mqMax(400px) {
    padding: 0px;
  }
  background: rgb(9, 121, 26);
  background: linear-gradient(
    137deg,
    rgba(9, 121, 26, 1) 20%,
    rgba(0, 255, 111, 0.5270483193277311) 80%
  );
}

section {
  width: 95%;
  max-width: 700px;
  margin: auto;
}
