.weatherContainer {
  min-height: 60vh;
  padding: 0px;
  text-shadow: black 1px 1px;

  .weatherTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.75rem;

    button {
      font-size: 1.7rem;
      background-color: $save-button-color;
      padding: 0 0.1rem;
      margin-bottom: 0.5rem;
      @include mq(768px) {
        font-size: 1.2rem;
        padding: 0 0.1rem;
      }
    }

    hr {
      width: 100%;
    }
  }

  .defaultSaveConfirm {
    text-align: center;
    width: 100%;
    margin: 5px;
  }

  .wxHeader {
    margin-top: 1rem;
    width: 100%;
    background-color: $header-background-color;
    padding: 0.25rem;
    color: $header-color;
  }
  .weatherSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    padding-right: 1.25rem;

    .weatherIcon {
      text-align: center;
    }
    .weatherDesc {
      text-align: center;

      .mainTemp {
        font-size: 5rem;
        font-weight: bold;
      }

      .feelsLikeTemp {
        font-size: 0.8rem;
      }
    }
  }

  .condition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    padding-right: 1.25rem;

    .conditionName {
      font-size: 1.1rem;
    }
    .conditionValue {
      font-size: 1.1rem;
    }
  }
  .confirmation {
    position: absolute;
    left: -10000px;
  }

  .forecast {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background: $forecast-background-color;
    border-top: $forecast-color solid 1px;

    .forecastIcon {
      width: 50px;
    }
    .arrow {
      font-size: 2rem;
      color: $forecast-color;
    }
    .forecastDayName {
      font-size: 1.2rem;
      color: $forecast-color;

      @include mqMax(400px) {
        font-size: 0.9rem;
      }
    }
    .forecastValue {
      font-size: 1.2rem;
      color: $forecast-color;
    }
    .precipPar {
      font-size: 0.7rem;
      color: $forecast-color;

      @include mqMax(400px) {
        font-size: 0.6rem;
      }
    }
  }
}
