.weatherContainer {
  min-height: 60vh;
  padding: 0px;
  box-shadow: 4px 2px 5px #000;

  .weatherTitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0.75rem;

    button {
      font-size: 1.7rem;
      background-color: $save-button-color;
      padding: 0 0.1rem;
      margin-bottom: 0.5rem;
      @include mq(768px) {
        padding: 0 0.5rem;
      }
    }

    hr {
      width: 100%;
    }
  }

  .wxHeader {
    margin-top: 1rem;
    width: 100%;
    background-color: lightgray;
    padding: 0.25rem;
  }
  .weatherSummary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    padding-right: 1.25rem;

    .weatherIcon {
      text-align: center;
    }
    .weatherDesc {
      text-align: center;

      .mainTemp {
        font-size: 5rem;
        font-weight: bold;
      }

      .feelsLikeTemp {
        font-size: 0.8rem;
      }
    }
  }

  .condition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.25rem;
    padding-top: 0.5rem;
    padding-right: 1.25rem;

    .conditionName {
      font-size: 1.1rem;
    }
    .conditionValue {
      font-size: 1.1rem;
    }
  }
  .confirmation {
    position: absolute;
    left: -10000px;
  }
}
